<div *ngFor="let match of matchList">
  <div *ngIf="match.match">
    <div class="green">
      <ol class="boxed">
        <label>{{match.id}}) {{match.profil}}</label>
        <button class="btn-profil2" (click)="deleteMatch(match.id)">Supprimer</button>
      </ol>
    </div>
  </div>
  <div *ngIf="!match.match">
    <div class="red">
      <ol class="boxed">
        <label>{{match.id}}) {{match.profil}}</label>
        <button class="btn-profil" (click)="deleteMatch(match.id)">Supprimer</button>
      </ol>
    </div>
  </div>
</div>
