<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="" routerLinkActive="active">Acceuil</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin" routerLinkActive="active">Administration</a></li>
    <li class="breadcrumb-item"><a routerLink="/stats" routerLinkActive="active">Statistiques</a></li>
  </ol>
</nav>
<router-outlet></router-outlet>
<div id="PiedDePage">
  <li class="PDPboxed">
    <div>Toute reproduction est interdite</div>
    <div> © POEI Zenika 2020</div>
  </li>
</div>

