<div>
  <label class="boxed">Quel est votre prénom ? </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="prenom" type="text" [(ngModel)]="prenom">
  </div>
  <label class="boxed">Quel est votre nom ? </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="nom" type="text" [(ngModel)]="nom">
  </div>
  <label class="boxed">Entrez l'url de votre photo de profil: </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="url" type="text" [(ngModel)]="url">
  </div>
  <label class="boxed">Quels sont vos hobbies? </label>
  <div class="boxed">
    <input class="form-control form-control-lg" id="hobbie1" type="text" [(ngModel)]="hobbie1">
    <input class="form-control form-control-lg" id="hobbie2" type="text" [(ngModel)]="hobbie2">
    <input class="form-control form-control-lg" id="hobbie3" type="text" [(ngModel)]="hobbie3">
    <input class="form-control form-control-lg" id="hobbie4" type="text" [(ngModel)]="hobbie4">
  </div>
  <div class="boxed">
    <button class="btn-profilGreen" (click)="createProfil()">Créer le profil !</button>
  </div>
</div>
