<div class="shadow p-3 mb-5 bg-white rounded" *ngFor="let profil of profils">
  <div>
    <li class="nameBoxed">
      {{profil.prenom}} {{profil.nom}}
    </li>
    <div class="boxed">
      <img class="redifinedimg" src="{{profil.photoUrl}}">
    </div>
    <div>
      <p class="boxed">Ses intérêts : </p>
      <div class="boxed" *ngFor="let interet of profil.interets">
        <li>{{interet}}</li>
      </div>
    </div>
  </div>
  <div class="boxed">
    <app-match [id]="profil.id"></app-match>
  </div>
</div>

