.pinkboxed {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color: #FD3774;
  font-size: 30px ;
}
.redifinedimg {
  width: 225px;
  height: 350px;
}

.boxed {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.nameBoxed {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
}
.btn-profil {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: black;
  background: white;
  display: flex;
}
.btn-profilGreen {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  background: green;
  display: flex;
}
.btn-profilRed {
  border: none;
  border-radius: 8px;
  padding: 5px 10px;
  color: white;
  background: red;
  display: flex;
}
.btn-profilGreen:hover {
  background: darkgreen;
  padding: 6px 12px;
  font-style: italic;
}
.btn-profilRed:hover {
  background: darkred;
  padding: 6px 12px;
  font-style: italic;
}
.grey {
  background: darkgrey;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  width: 225px;
}
#PiedDePage {
  background: #FD3774;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 10px;
  padding-left: 10px;
}
.PDPboxed {
  display: flex;
  justify-content: space-between;
}
.green {
  background: green;
  padding: 10px;
  margin: 10px;
}
.red {
  background: red;
  padding: 10px;
  margin: 10px;
}


